.btn {
   border: none;
   background-color: transparent;
}

.btn:hover {
   cursor: pointer;
}

.btn:focus {
   outline: 2px solid #4b506d8c;
   border-radius: 5px;
}

.plus-button {
   border-radius: 8px;
   border: none;
   height: 24px;
   width: 24px;
   padding: 6px;
}

.sort-button {
   display: flex;
   align-items: center;
}

.ticket-card__wrapper-btn {
   margin: 0 5px;
}
