.btn {
   border: none;
   background-color: transparent;
}

.header-btn {
}

.plus-button {
   border-radius: 8px;
   border: none;
   height: 24px;
   width: 24px;
   padding: 6px;
}

.sort-button{
   display: flex;
   align-items: center;
}