.owerview {
   font-size: 24px;
   font-weight: 700;
   padding: 0 0 0 50px;
}

.small-light-text {
   font-size: 12px;
   color: #9fa2b4;
   font-weight: 600;
   margin: 5px 0;
}

.headline-dark {
   color: #252733;
}

.h3 {
   margin: 10px 0 5px 0;
}

.tickets-card__headline {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
}

.headline-right {
   display: flex;
   width: 10%;
   justify-content: space-around;
}
