.app__header {
   display: flex;
   justify-content: space-between;
   padding: 20px 0;
   z-index: 10;
   box-shadow: 20px 12px 20px 12px #f7f8fc;
}

.app__header-left {
   display: flex;
}

.app__header-right {
   display: flex;
   align-items: center;
}

.app__header-btn-wrapper {
   display: flex;
   position: relative;
   padding: 0 35px 0 0;
}

.profile {
   display: flex;
   padding: 0 30px 0 0;
}

.profile__avatar {
   width: 55px;
   margin: 0 20px;
}
