.app__sidenav {
   width: 250px;
   height: 100vh;
   padding: 40px 0 0 0;
   background-color: #363740;
}

.app__sidenav-content {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.app__sidenav-item {
   display: flex;
   justify-content: start;
   align-items: center;
   padding: 0 100px 0 0;
   font-size: 16px;
   font-weight: 600;
   width: 250px;
   height: 45px;
   text-decoration: none;
   color: #a4a6b3;
   border-left: 3px solid rgba(255, 255, 255, 0);
   transition: 0.3s ease-in-out;
}

.app__sidenav-icon {
   padding: 0 20px;
}

.app__sidenav-item .app__sidenav-icon svg path {
   fill: #9a9cad;
   opacity: 0.8;
   transition: 0.3s ease-in-out;
}

.app__sidenav-item:hover , .app__sidenav-item-active {
   color: #dde2ff;
   background-color: rgba(255, 255, 255, 0.226);
   border-left: 3px solid #fff;
}

.app__sidenav-item:hover .app__sidenav-icon svg path {
   fill: rgb(255, 255, 255);
   opacity: 1;
}

.app__sidenav-line {
   width: 100%;
   border: 1px solid #a4a6b3;
   margin: 20px 0;
}
