.app-content {
   overflow: auto;
   flex-grow: 1;
   padding: 20px;
}

.app-content::-webkit-scrollbar {
   background-color: transparent;
   width: 5px;
}

.app-content::-webkit-scrollbar-button {
   background-color: transparent;
}

.app-content::-webkit-scrollbar-track {
   background-color: transparent;
}

.app-content::-webkit-scrollbar-thumb {
   background-color: rgb(54 55 64);
   border-radius: 5px;
}
