.badge {
   font-weight: 700;
   font-size: 11px;
   padding: 5px 12px;
   text-transform: uppercase;
   display: flex;
   align-items: center;
}

.badge--red {
   background: red;
   color: white;
}
.badge--yellow {
   background: #fec400;
   color: white;
}
.badge--green {
   background: #29cc97;
   color: white;
}
.badge--gray {
   background: #f0f1f7;
   color: #9fa2b4;
}

.badge--type-task {
   border-radius: 8px;
}

.badge--type-ticket {
   border-radius: 100px;
}

