.card {
   background: #ffffff;
   border: 1px solid #dfe0eb;
   border-radius: 8px;
}

.card-stats {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.card-has-hover {
   width: 23%;
   transition: 0.2s ease-in-out;
}

.card-has-hover:hover {
   border: 1px solid #3751ff;
}

.counter,
.card-stats__title {
   margin: 20px 0;
   font-weight: 700;
   text-align: center;
   transition: 0.2s ease-in-out;
}

.card-stats__title {
   color: #9fa2b4;
   font-size: 19px;
   letter-spacing: 0.4px;
}

.counter {
   font-size: 40px;
   color: #252733;
}

.card-has-hover:hover .stats-card__title {
   color: #3751ff;
}

.card-has-hover:hover .counter {
   color: #3751ff;
}

.card-trends {
   margin-top: 30px;
   max-width: 100%;
   display: flex;
}
.graph-image {
   width: 100%;
}

.card-trends__title,
.counter-small {
   margin: 10px;
}

.card-trends__title {
   font-size: 16px;
   font-weight: 600;
   color: #9fa2b4;
}

.counter-small {
   font-size: 24px;
   font-weight: 700;
   color: #252733;
}

.card-trends__left {
   padding: 30px;
}

.card-trends__right {
   width: 55%;
   display: flex;
   flex-direction: column;
}

.card-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
   border-bottom: none;
}

.card-border-left {
   border-left: 1px solid #dfe0eb;
}

.card-border-bottom {
   border-bottom: 1px solid #dfe0eb;
}

.card-column__wrapper {
   margin-top: 30px;
   margin-bottom: 50px;
   display: flex;
   justify-content: space-between;
}

.card-column {
   width: 49%;
   padding: 20px 0 0 0;
}

.card-column__headline {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 30px;
   height: 70px;
}

.card-column__headline-right {
   display: flex;
   width: 10%;
}

.card-items {
   height: 100%;
}

.card-column-item {
   flex-direction: row;
   justify-content: space-between;
   padding: 0 30px;
   height: 58px;
}
