.logo-link {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 250px;
   text-decoration: none;
   color: #a4a6b3;
   font-size: 19px;
   font-weight: 700;
   padding: 0 30px 30px 30px;
}

.profile__link {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   text-decoration: none;
   width: 230px;
   color: #252733;
   font-size: 14px;
   font-weight: 600;
   padding: 0 0 0 10px;
}

.view-link {
   text-decoration: none;
   color: #3751ff;
   font-weight: 600;
   font-size: 14px;
}
