.card-tickets__headline {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
}

.card-tickets-item {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 100%;
   padding: 20px 10px;
}

.card-ticket__wrapper-btn {
   margin: 0 5px;
}

.card-ticket__column {
   display: flex;
   flex-direction: column;
}

.card-ticket__pagination,
.card-ticket__pagination-rows,
.card-ticket__pagination-pages {
   display: flex;
}

.card-ticket__pagination {
   padding: 20px;
}

.card-ticket__pagination-rows,
.card-ticket__pagination-pages {
   padding: 0 10px;
   align-items: center;
}

.card-ticket__pagination-rows {
   margin-left: auto;
}

.rows-per-page {
   border: none;
   color: #4b506d;
   font-size: 14px;
   margin: 0 10px;
}

.rows-per-page:focus {
   outline: 2px solid #4b506d8c;
   border-radius: 5px;
}

.card-priority {
   flex-direction: row;
   width: 80%;
   justify-content: space-between;
}

.card-ticket__ticket-detail {
   width: 40%;
   display: flex;
   align-items: center;
}

.card-ticket__customer-name {
   width: 20%;
}

.card-ticket__date {
   width: 20%;
}

.card-ticket__priority {
   width: 20%;
}
